* {
	scrollbar-width: thin;
	scrollbar-color: #72A1E5 #EBF5EE;
}

*::-webkit-scrollbar {
	height: 12px;
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: #EBF5EE;
}

*::-webkit-scrollbar-thumb {
	background-color: #72A1E5;
	border-radius: 5px;
	border: 1px solid #EBF5EE;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body:focus-visible {
	outline: none;
}

a, p, h1, h2, h3, h4, h5, h6 {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	align-items: center;
	width: auto;
	height: 54px;
	background-color: #A5CAAA;
}

.title {
	font-size: 30px;
	margin-left: 18px;
}

.sub-header {
	display: flex;
	width: auto;
	justify-content: space-between;
	align-items: center;
	height: 54px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #1F2421;
}

.sub-header-burger-menu {
	display: none;
	border-bottom: 1px solid #1F2421;
}

.burger-menu-container {
	display: flex;
	width: auto;
	justify-content: right;
	align-items: center;
	height: 54px;
	padding-right: 6px;
	background-color: #FFFFFF;
}

.burger-menu-icon {
	display: flex;
	justify-content: center;
	gap: 6px;
	width: 36px;
	height: 30px;
	flex-wrap: wrap;
}

.burger-menu-line {
	background-color: #1F2421;
	width: 36px;
	height: 6px;
	border-radius: 2px;
}

.burger-menu-icon:hover {
	cursor: pointer;
}

.burger-menu-icon:focus-visible {
	outline: none;
}

.buttons {
	width: 450px;
}

.buttons-burger-menu {
	border-top: 1px solid #1F2421;
	margin: 0px 10px;
	width: auto;
	height: auto;
}

.link-container-burger-menu {
	display: block;
	height: 48px;
	width: 100%;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 22px;
	color: rgba(31, 36, 33, 0.8);
	transition: color 0.2s;
}

.link-container {
	width: 144px;
	height: 53px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 22px;
	color: rgba(31, 36, 33, 0.8);
	transition: color 0.2s;
}

.link-container:hover {
	color: #1F2421;
	cursor: pointer;
}

.link-container:focus-visible {
	color: #1F2421;
}

.open {
	height: 55px;
	color: #1F2421;
	font-size: 22px;
	border-left: 1px solid #1F2421;
	border-right: 1px solid #1F2421;
	border-top: 1px solid #1F2421;
	border-radius: 4px 4px 0px 0px;
}

.open-burger-menu {
	color: #1F2421;
}

.button-start {
	margin-right: 30px;
	width: 150px;
	height: 42px;
	background-color: #FFFFFF;
	border: 1px solid #72A1E5;
	border-radius: 4px;
	color: #1F2421;
	font-size: 22px;
	transition: all 0.2s;
	user-select: none;
}

.button-start-burger-menu {
	display: block;
	height: 48px;
	width: 100%;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 22px;
	color: #1F2421;
	transition: color 0.2s;
	border-top: 1px solid #1F2421;
}

.button-start:hover {
	cursor: pointer;
	border: 1px solid #FFFFFF;
	background-color: #72A1E5;
	color: #FFFFFF;
}

.button-start:focus-visible {
	outline: none;
	border: 1px solid #FFFFFF;
	background-color: #72A1E5;
	color: #FFFFFF;
}

.gallery, .description {
	padding: 58px 80px;
}

.images-container {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 48px;
}

.img-container {
	width: 210px;
	height: 306px;
	border-radius: 12px;
	background-color: #EBF5EE;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.img-gallery {
	width: 210px;
	height: 236px;
	border-radius: 12px 12px 0px 0px;
	object-fit: cover;
	border-bottom: 1px solid #1F2421;
}

.img-gallery:hover {
	cursor: pointer;
}

.img-gallery:focus-visible {
	outline: 1px solid #FFFFFF;
}

.text-on-img {
	display: flex;
	margin-top: 5px;
	height: 52px;
	font-size: 22px;
	text-align: center;
	justify-content: center;
	color: #1F2421;
	align-items: center;
}

.footer {
	width: auto;
	height: auto;
	background-color: #1F2421;
	padding-bottom: 24px;
	padding-top: 24px;
	bottom: 0px;
}

.text-contacts {
	padding-left: 30px;
	color: #FFFFFF;
	font-size: 22px;
}

.contact-link {
	display: block;
	color: #FFFFFF;
	font-size: 22px;
	margin-left: 38px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	width: fit-content;
}

.contact-link:hover {
	cursor: pointer;
}

.contact-link:focus-visible {
	outline: 1px solid #FFFFFF;
}

.contact-img {
	object-fit: cover;
	width: 28px;
	height: 28px;
	margin-right: 10px;
}

.text-link {
	display: inline-block;
	width: fit-content;
}

.last {
	margin-top: 7px;
}

.game-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #66BDBA;
}

.main-text {
	font-size: 100px;
	color: #DEF1EE;
	font-weight: 700;
	user-select: none;
}

.game-container-one {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #66BDBA;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-text-one {
	font-size: 80px;
	color: #DEF1EE;
	font-weight: 700;
	user-select: none;
	height: fit-content;
	text-align: center;
}

.bottom-button {
	display: block;
	font-size: 50px;
	background: none;
	border: none;
	font-weight: 700;
	color: #DEF1EE;
	margin-top: 46px;
	height: fit-content;
}

.bottom-button:hover {
	cursor: pointer;
}

.bottom-button:focus-visible {
	outline: none;
}

.bottom-text {
	width: 100px;
	position: absolute;
	bottom: 22px;
	right: 30px;
	font-size: 20px;
	color: #DEF1EE;
	font-weight: 700;
	user-select: none;
}

.video-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-open-container {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	align-items: center;
	justify-content: center;
	background-color: rgba(31, 36, 33, 0.6);
}

.open-img {
	width: 100%;
	max-width: 768px;
}

.open-video {
	width: 100%;
	max-width: 768px;
}

.videos-container {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.video-gallery {
	width: 210px;
	height: 236px;
	border-radius: 12px 12px 0px 0px;
	object-fit: cover;
	border-bottom: 1px solid #1F2421;
}

.description-about-gallery {
	display: block;
	font-size: 24px;
	color: #1F2421;
	margin-bottom: 38px;
}

.x {
	position: fixed;
	right: 16px;
	top: 16px;
	object-fit: cover;
	width: 40px;
	height: 40px;
}

.x:hover {
	cursor: pointer;
}

.three-d-container {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-image: url('../assets/background.jpg');
	background-position: center;
	background-size: cover;
}

@media (max-width: 320px) {
	.sub-header {
		display: none;
	}
	
	.sub-header-burger-menu {
		display: block;
	}

	* {
		font-size: 20px;
	}

	.title {
		margin-left: 14px;
		font-size: 22px;
	}

	.header {
		height: 48px;
	}

	.burger-menu-container {
		height: 46px;
	}

	.footer {
		padding: 18px 0px;
	}

	.main-text {
		font-size: 50px;
	}

	.main-text-one {
		font-size: 50px;
	}

	.bottom-text {
		font-size: 18px;
		bottom: 10px;
		right: 10px;
	}

	.bottom-button {
		font-size: 30px;
	}
}

@media (min-width: 321px) and (max-width: 768px) {
	.sub-header {
		display: none;
	}
	
	.sub-header-burger-menu {
		display: block;
	}

	.main-text {
		font-size: 70px;
	}

	.main-text-one {
		font-size: 65px;
	}

	.bottom-text {
		font-size: 18px;
		bottom: 10px;
		right: 10px;
	}

	.bottom-button {
		font-size: 36px;
	}
}

.none {
	display: none;
}